
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_id %><br />
    <%= f.number_field :contact_id, :placeholder =>"contact" %>
  </div>
  <div class="field">
    <%= f.label :firstName %><br />
    <%= f.text_field :firstName , :placeholder =>"Yin" %>
  </div>
  <div class="field">
    <%= f.label :lastName %><br />
    <%= f.text_field :lastName , :placeholder =>"Huang" %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :placeholder =>"Admin"  %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email , :placeholder =>"yinhuang@gmail.com" %>
  </div>
  <div class="field">
    <%= f.label :email_private %><br />
    <%= f.text_field :email_private , :placeholder =>"true" %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone , :placeholder =>"+85 12345678" %>
  </div>
  <div class="field">
    <%= f.label :extension %><br />
    <%= f.text_field :extension , :placeholder =>"extension" %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax , :placeholder =>"+85 865-567-8989" %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile , :placeholder =>"+85 345-123-4563" %>
  </div>
  <div class="field">
    <%= f.label :home_phone  %><br />
    <%= f.text_field :home_phone , :placeholder =>"+85 678-546-3456"%>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company , :placeholder =>"IT Company" %>
  </div>
  <div class="field">
    <%= f.label :site_city %><br />
    <%= f.text_field :site_city , :placeholder =>"Hong Kong" %>
  </div>
  <div class="field">
    <%= f.label :site_zip %><br />
    <%= f.text_field :site_zip , :placeholder =>"856785463456"%>
  </div>
  <div class="field">
    <%= f.label :site_phone %><br />
    <%= f.text_field :site_phone , :placeholder =>"+85 678-546-3456"%>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes , :placeholder =>"this is the admin page"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

