<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :extension %><br />
    <%= f.text_field :extension %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :site_city %><br />
    <%= f.text_field :site_city %>
  </div>
  <div class="field">
    <%= f.label :site_zip %><br />
    <%= f.text_field :site_zip %>
  </div>
  <div class="field">
    <%= f.label :site_phone %><br />
    <%= f.text_field :site_phone %>
  </div>
  <div class="field">
    <%= f.label :agreement_project %><br />
    <%= f.text_field :agreement_project %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :budgeted_hours %><br />
    <%= f.text_field :budgeted_hours %>
  </div>
  <div class="field">
    <%= f.label :priority_level %><br />
    <%= f.text_field :priority_level %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :tasks %><br />
    <%= f.text_field :tasks %>
  </div>
  <div class="field">
    <%= f.label :resource %><br />
    <%= f.text_field :resource %>
  </div>
  <div class="field">
    <%= f.label :schedule %><br />
    <%= f.text_field :schedule %>
  </div>
  <div class="field">
    <%= f.label :device %><br />
    <%= f.text_field :device %>
  </div>
  <div class="field">
    <%= f.label :despatcher %><br />
    <%= f.text_field :despatcher %>
  </div>
  <div class="field">
    <%= f.label :account_manager %><br />
    <%= f.text_field :account_manager %>
  </div>
  <div class="field">
    <%= f.label :open_tickets_device %><br />
    <%= f.text_field :open_tickets_device %>
  </div>
  <div class="field">
    <%= f.label :open_ticket_user_id %><br />
    <%= f.number_field :open_ticket_user_id %>
  </div>
  <div class="field">
    <%= f.label :open_ticket_company_id %><br />
    <%= f.text_field :open_ticket_company_id %>
  </div>
  <div class="field">
    <%= f.label :time_entry_standard %><br />
    <%= f.text_field :time_entry_standard %>
  </div>
  <div class="field">
    <%= f.label :time_entry_completed %><br />
    <%= f.text_field :time_entry_completed %>
  </div>
  <div class="field">
    <%= f.label :phone_logs %><br />
    <%= f.text_area :phone_logs %>
  </div>
  <div class="field">
    <%= f.label :documents %><br />
    <%= f.text_field :documents %>
  </div>
  <div class="field">
    <%= f.label :sales_task %><br />
    <%= f.text_field :sales_task %>
  </div>
  <div class="field">
    <%= f.label :products_name %><br />
    <%= f.text_field :products_name %>
  </div>
  <div class="field">
    <%= f.label :products_price %><br />
    <%= f.text_field :products_price %>
  </div>
  <div class="field">
    <%= f.label :products_stocklevel %><br />
    <%= f.text_field :products_stocklevel %>
  </div>
  <div class="field">
    <%= f.label :expenses %><br />
    <%= f.text_field :expenses %>
  </div>
  <div class="field">
    <%= f.label :survey_results %><br />
    <%= f.text_field :survey_results %>
  </div>
  <div class="field">
    <%= f.label :knowledgebase_articles %><br />
    <%= f.text_field :knowledgebase_articles %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
