<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Company</th>
    <th>User</th>
    <th>Phone</th>
    <th>Extension</th>
    <th>Email</th>
    <th>Site city</th>
    <th>Site zip</th>
    <th>Site phone</th>
    <th>Agreement project</th>
    <th>Status</th>
    <th>Type</th>
    <th>Location</th>
    <th>Source</th>
    <th>Budgeted hours</th>
    <th>Priority level</th>
    <th>Description</th>
    <th>Notes</th>
    <th>Tasks</th>
    <th>Resource</th>
    <th>Schedule</th>
    <th>Device</th>
    <th>Despatcher</th>
    <th>Account manager</th>
    <th>Open tickets device</th>
    <th>Open ticket user</th>
    <th>Open ticket company</th>
    <th>Time entry standard</th>
    <th>Time entry completed</th>
    <th>Phone logs</th>
    <th>Documents</th>
    <th>Sales task</th>
    <th>Products name</th>
    <th>Products price</th>
    <th>Products stocklevel</th>
    <th>Expenses</th>
    <th>Survey results</th>
    <th>Knowledgebase articles</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.company_id %></td>
    <td><%= ticket.user_id %></td>
    <td><%= ticket.phone %></td>
    <td><%= ticket.extension %></td>
    <td><%= ticket.email %></td>
    <td><%= ticket.site_city %></td>
    <td><%= ticket.site_zip %></td>
    <td><%= ticket.site_phone %></td>
    <td><%= ticket.agreement_project %></td>
    <td><%= ticket.status %></td>
    <td><%= ticket.type %></td>
    <td><%= ticket.location %></td>
    <td><%= ticket.source %></td>
    <td><%= ticket.budgeted_hours %></td>
    <td><%= ticket.priority_level %></td>
    <td><%= ticket.description %></td>
    <td><%= ticket.notes %></td>
    <td><%= ticket.tasks %></td>
    <td><%= ticket.resource %></td>
    <td><%= ticket.schedule %></td>
    <td><%= ticket.device %></td>
    <td><%= ticket.despatcher %></td>
    <td><%= ticket.account_manager %></td>
    <td><%= ticket.open_tickets_device %></td>
    <td><%= ticket.open_ticket_user_id %></td>
    <td><%= ticket.open_ticket_company_id %></td>
    <td><%= ticket.time_entry_standard %></td>
    <td><%= ticket.time_entry_completed %></td>
    <td><%= ticket.phone_logs %></td>
    <td><%= ticket.documents %></td>
    <td><%= ticket.sales_task %></td>
    <td><%= ticket.products_name %></td>
    <td><%= ticket.products_price %></td>
    <td><%= ticket.products_stocklevel %></td>
    <td><%= ticket.expenses %></td>
    <td><%= ticket.survey_results %></td>
    <td><%= ticket.knowledgebase_articles %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
