<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_id %><br />
    <%= f.number_field :contact_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :industry %><br />
    <%= f.text_field :industry %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :primary_contact_fn %><br />
    <%= f.text_field :primary_contact_fn %>
  </div>
  <div class="field">
    <%= f.label :primary_contact_ln %><br />
    <%= f.text_field :primary_contact_ln %>
  </div>
  <div class="field">
    <%= f.label :s_street_add %><br />
    <%= f.text_field :s_street_add %>
  </div>
  <div class="field">
    <%= f.label :s_city %><br />
    <%= f.text_field :s_city %>
  </div>
  <div class="field">
    <%= f.label :s_state %><br />
    <%= f.text_field :s_state %>
  </div>
  <div class="field">
    <%= f.label :s_phone %><br />
    <%= f.text_field :s_phone %>
  </div>
  <div class="field">
    <%= f.label :s_hours %><br />
    <%= f.text_field :s_hours %>
  </div>
  <div class="field">
    <%= f.label :s_afterhourscontactname %><br />
    <%= f.text_field :s_afterhourscontactname %>
  </div>
  <div class="field">
    <%= f.label :s_afterhourscontactphone %><br />
    <%= f.text_field :s_afterhourscontactphone %>
  </div>
  <div class="field">
    <%= f.label :s_round_trip_mileage %><br />
    <%= f.text_field :s_round_trip_mileage %>
  </div>
  <div class="field">
    <%= f.label :s_tolls %><br />
    <%= f.text_field :s_tolls %>
  </div>
  <div class="field">
    <%= f.label :s_map %><br />
    <%= f.text_field :s_map %>
  </div>
  <div class="field">
    <%= f.label :sales_activities %><br />
    <%= f.text_field :sales_activities %>
  </div>
  <div class="field">
    <%= f.label :devices %><br />
    <%= f.text_field :devices %>
  </div>
  <div class="field">
    <%= f.label :software_name %><br />
    <%= f.text_field :software_name %>
  </div>
  <div class="field">
    <%= f.label :software_licenses %><br />
    <%= f.text_field :software_licenses %>
  </div>
  <div class="field">
    <%= f.label :software_expiration %><br />
    <%= f.text_field :software_expiration %>
  </div>
  <div class="field">
    <%= f.label :invoices %><br />
    <%= f.text_field :invoices %>
  </div>
  <div class="field">
    <%= f.label :open_invoices %><br />
    <%= f.text_field :open_invoices %>
  </div>
  <div class="field">
    <%= f.label :open_credit_invoices %><br />
    <%= f.text_field :open_credit_invoices %>
  </div>
  <div class="field">
    <%= f.label :billing_contact_fn %><br />
    <%= f.text_field :billing_contact_fn %>
  </div>
  <div class="field">
    <%= f.label :billing_contact_ln %><br />
    <%= f.text_field :billing_contact_ln %>
  </div>
  <div class="field">
    <%= f.label :billing_contact_title %><br />
    <%= f.text_field :billing_contact_title %>
  </div>
  <div class="field">
    <%= f.label :billing_contact_email %><br />
    <%= f.text_field :billing_contact_email %>
  </div>
  <div class="field">
    <%= f.label :billing_contact_phone %><br />
    <%= f.text_field :billing_contact_phone %>
  </div>
  <div class="field">
    <%= f.label :billing_info_account_type %><br />
    <%= f.text_field :billing_info_account_type %>
  </div>
  <div class="field">
    <%= f.label :billing_info_approval_level %><br />
    <%= f.text_field :billing_info_approval_level %>
  </div>
  <div class="field">
    <%= f.label :billing_info_approver %><br />
    <%= f.text_field :billing_info_approver %>
  </div>
  <div class="field">
    <%= f.label :knowledgebase_articles %><br />
    <%= f.text_area :knowledgebase_articles %>
  </div>
  <div class="field">
    <%= f.label :agrements_terms %><br />
    <%= f.text_field :agrements_terms %>
  </div>
  <div class="field">
    <%= f.label :agrements_cycle %><br />
    <%= f.text_field :agrements_cycle %>
  </div>
  <div class="field">
    <%= f.label :agreements_startdate %><br />
    <%= f.datetime_select :agreements_startdate %>
  </div>
  <div class="field">
    <%= f.label :agreements_endstart %><br />
    <%= f.datetime_select :agreements_endstart %>
  </div>
  <div class="field">
    <%= f.label :agreements_lastinvoiceamount %><br />
    <%= f.text_field :agreements_lastinvoiceamount %>
  </div>
  <div class="field">
    <%= f.label :agreements_devices_count %><br />
    <%= f.text_field :agreements_devices_count %>
  </div>
  <div class="field">
    <%= f.label :agreements_devices_cost %><br />
    <%= f.text_field :agreements_devices_cost %>
  </div>
  <div class="field">
    <%= f.label :agreements_devices_price %><br />
    <%= f.text_field :agreements_devices_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
