<h1>Listing companies</h1>

<table>
  <tr>
    <th>Contact</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Website</th>
    <th>Industry</th>
    <th>Status</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Primary contact fn</th>
    <th>Primary contact ln</th>
    <th>S street add</th>
    <th>S city</th>
    <th>S state</th>
    <th>S phone</th>
    <th>S hours</th>
    <th>S afterhourscontactname</th>
    <th>S afterhourscontactphone</th>
    <th>S round trip mileage</th>
    <th>S tolls</th>
    <th>S map</th>
    <th>Sales activities</th>
    <th>Devices</th>
    <th>Software name</th>
    <th>Software licenses</th>
    <th>Software expiration</th>
    <th>Invoices</th>
    <th>Open invoices</th>
    <th>Open credit invoices</th>
    <th>Billing contact fn</th>
    <th>Billing contact ln</th>
    <th>Billing contact title</th>
    <th>Billing contact email</th>
    <th>Billing contact phone</th>
    <th>Billing info account type</th>
    <th>Billing info approval level</th>
    <th>Billing info approver</th>
    <th>Knowledgebase articles</th>
    <th>Agrements terms</th>
    <th>Agrements cycle</th>
    <th>Agreements startdate</th>
    <th>Agreements endstart</th>
    <th>Agreements lastinvoiceamount</th>
    <th>Agreements devices count</th>
    <th>Agreements devices cost</th>
    <th>Agreements devices price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.contact_id %></td>
    <td><%= company.name %></td>
    <td><%= company.phone %></td>
    <td><%= company.fax %></td>
    <td><%= company.website %></td>
    <td><%= company.industry %></td>
    <td><%= company.status %></td>
    <td><%= company.street %></td>
    <td><%= company.city %></td>
    <td><%= company.state %></td>
    <td><%= company.zip %></td>
    <td><%= company.primary_contact_fn %></td>
    <td><%= company.primary_contact_ln %></td>
    <td><%= company.s_street_add %></td>
    <td><%= company.s_city %></td>
    <td><%= company.s_state %></td>
    <td><%= company.s_phone %></td>
    <td><%= company.s_hours %></td>
    <td><%= company.s_afterhourscontactname %></td>
    <td><%= company.s_afterhourscontactphone %></td>
    <td><%= company.s_round_trip_mileage %></td>
    <td><%= company.s_tolls %></td>
    <td><%= company.s_map %></td>
    <td><%= company.sales_activities %></td>
    <td><%= company.devices %></td>
    <td><%= company.software_name %></td>
    <td><%= company.software_licenses %></td>
    <td><%= company.software_expiration %></td>
    <td><%= company.invoices %></td>
    <td><%= company.open_invoices %></td>
    <td><%= company.open_credit_invoices %></td>
    <td><%= company.billing_contact_fn %></td>
    <td><%= company.billing_contact_ln %></td>
    <td><%= company.billing_contact_title %></td>
    <td><%= company.billing_contact_email %></td>
    <td><%= company.billing_contact_phone %></td>
    <td><%= company.billing_info_account_type %></td>
    <td><%= company.billing_info_approval_level %></td>
    <td><%= company.billing_info_approver %></td>
    <td><%= company.knowledgebase_articles %></td>
    <td><%= company.agrements_terms %></td>
    <td><%= company.agrements_cycle %></td>
    <td><%= company.agreements_startdate %></td>
    <td><%= company.agreements_endstart %></td>
    <td><%= company.agreements_lastinvoiceamount %></td>
    <td><%= company.agreements_devices_count %></td>
    <td><%= company.agreements_devices_cost %></td>
    <td><%= company.agreements_devices_price %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
